.calendar {
  $calendar: ".calendar";

  &--portable {
    #{$calendar}__weekday:nth-last-child(1),
    #{$calendar}__weekday:nth-last-child(2),
    #{$calendar}__day:nth-last-child(1),
    #{$calendar}__day:nth-last-child(2) {
      display: none;
    }

    #{$calendar}__weekday:nth-child(5) {
      border-top-right-radius: 10px;
    }

    #{$calendar}__week:last-child {
      #{$calendar}__day:nth-child(5) {
        border-bottom-right-radius: 10px;
      }
    }
  }

  &__weekdays {
    display: flex;
    font-weight: 700;
  }

  &__weekday {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: $gray;
    flex: 1 0 180px;
    width: 180px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $gray;

    &:first-child {
      border-top-left-radius: 10px;
      border-left-width: 1px;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }
  }

  &__week {
    display: flex;

    &:last-child {
      #{$calendar}__day:first-child {
        border-bottom-left-radius: 10px;

        .task {
          border-bottom-left-radius: 10px;
          overflow: hidden;
        }
      }

      #{$calendar}__day:last-child {
        border-bottom-right-radius: 10px;

        .task {
          border-bottom-right-radius: 10px;
          overflow: hidden;
        }
      }
    }
  }

  &__day {
    flex: 1 0 180px;
    width: 180px;
    height: 130px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $gray;
    transition: overflow .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:first-child {
      border-left-width: 1px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      flex: 0 0 30%;
    }
  }

  &__body {
    padding-bottom: 50px;
  }

  &__month {
    display: block;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;

    & > span {
      color: $gray;
      margin-top: 5px;
      display: inline-block;
    }
  }

  &__control {
    span {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
