.modal {
  $modal: ".modal";

  position: fixed;
  top: 0;
  right: -100%;
  z-index: $zindex-modal;
  overflow: hidden;
  outline: 0;
  transition: .2s right cubic-bezier(0.215, 0.610, 0.355, 1);

  @include square(100%);

  &.show {
    display: block;
  }

  &__dialog {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba($dark, .2);
    position: absolute;
    max-width: 500px;
    right: 30px;
    bottom: 30px;
  }

  &__body {
    padding: 30px 40px;
  }

  &.show {
    right: 0%;
  }
}

@keyframes slide {
  0% {
    right: -500px;
  }

  100% {
    right: 30px;
  }
}