.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  outline: 0;

  @include square(100%);

  &.show {
    display: block;
  }

  &__dialog {
    width: auto;
    max-width: 500px;
    pointer-events: none;
    margin: 1.75rem auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba($dark, .2);
    position: absolute;
    max-width: 500px;
    right: 100px;
    bottom: 100px;
  }

  &__body {
    padding: 30px 40px;
  }
}