.styled-list {
  $styled-list: ".styled-list";

  font-weight: 700;

  @each $color, $value in $theme-colors {
    &--#{$color} {
      color: $value;

      #{$styled-list}__item:before {
        background-color: $value;
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1rem;
      transform: translateY(-50%);
      display: inline-block;
      border-radius: 50%;

      @include square(8px);
    }
  }
}