.root {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  max-width: 1600px;
  margin: 80px auto;
}

.content {
  background-color: $white;
  display: flex;
  border-radius: 10px;
}

.sidebar {
  position: relative;
  flex: 0 0 30%;
  width: 30%;
  border-right: 1px solid $light;
  box-shadow: 2px 0 5px 0 rgba($light, .5);

  & > section {
    padding: 50px 40px;
  }

  & > section:first-child {
    padding: 0;
  }

  & > section:not(:last-child) {
    border-bottom: 1px solid $light;
  }
}

.main {
  flex: 0 0 70%;
  width: 70%;
  background-color: $smoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light;
    height: 100px;
    padding: 0 40px;
    background-color: $white;
    border-top-right-radius: 10px;

    & > * {
      flex: 1 1 30%;
    }
  }

  &__body {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.brand {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-statistic {
  display: flex;
  margin-top: 30px;
  font-weight: 700;
}

.flex-item-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  span:first-child {
    font-size: 30px;
  }
}

.caret {
  color: $light;
  font-size: 8px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

  i {
    margin-left: 3px;
    margin-right: 3px;
  }
}